:root {
  font-family: 'Work Sans', sans-serif;
  box-sizing: border-box;
  font-weight: 500;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

/* *{
  font-family: Work Sans ;
} */

body {
  margin: 0;
  overflow-x: hidden;
}

.ant-steps .ant-steps-item-container {
  display: flex;
  align-items: center;
  width: fit-content;
}

.ant-steps
  .ant-steps-item-finish
  > .ant-steps-item-container
  > .ant-steps-item-content
  > .ant-steps-item-title {
  color: #c1e5fe;
  font-weight: 600;
}

.ant-steps .ant-steps-item-finish .ant-steps-item-icon {
  background-color: rgba(2, 79, 168, 0.4);
  border-color: transparent !important;
}

.ant-steps
  .ant-steps-item-finish
  > .ant-steps-item-container
  > .ant-steps-item-content
  > .ant-steps-item-title::after {
  background-color: #c1e5fe;
}
.ant-switch.custom-ant-switch:not(.ant-switch-checked) .ant-switch-handle::before,
.ant-switch.custom-ant-switch.ant-switch-unchecked:hover .ant-switch-handle::before {
  background-color: #FF422C !important; 
}
.ant-switch.custom-ant-switch .ant-switch-inner .ant-switch-inner-unchecked {
  color: #FF422C;
  font-size: 0.875rem;
  font-weight: 500;
}
.ant-switch .ant-switch-inner .ant-switch-inner-checked {
  font-size: 0.875rem;
  font-weight: 500;
}
@media (max-width: 800px) {
  .ant-steps .ant-steps-item-container {
    display: inline;
    /* align-items: center; */
  }
  
}
.ant-modal .ant-modal-footer{
  display: none;
}

.starClass>.starCol>div>.star> div >div >label{
display:none}

.ant-float-btn-primary .ant-float-btn-body{
  background-color: #024FA8;
}

.ant-float-btn-primary .ant-float-btn-body:hover {
  background-color: #024FA8
}


.ant-input {
  font-weight: 500;
}
.ant-select-single.ant-select-show-arrow .ant-select-selection-item,.ant-select-single.ant-select-show-arrow .ant-select-selection-placeholder {
  font-weight: 500;
}
.ant-form-vertical .ant-form-item-label, :where(.css-dev-only-do-not-override-hagume).ant-col-24.ant-form-item-label, :where(.css-dev-only-do-not-override-hagume).ant-col-xl-24.ant-form-item-label{
  padding: 0;
}

.ant-form-item .ant-form-item-label >label.ant-form-item-required:not(.ant-form-item-required-mark-optional)::before{
  margin-bottom: 0.5rem;
}
.ant-steps .ant-steps-item-icon{
  display: flex;
  align-items: center;
  justify-content: center;
}